h1 {
  color: red;
  text-align: center;
}

.index,
.pizza,
.butter-chicken {
  text-align: center;
  font-size: large;
  border: 3px red solid;
  margin: 10px 850px;
  padding: 20px;
}

.description-title,
.ingredients,
.directions,
.layer,
.cook,
.serve {
  color: red;
}

.description-para {
  color: white;
}

span {
  color: white;
}

body {
  background-color: black;
}

img {
  display: block;
  float: right;
  margin: 50px;
  border: 5px red solid;
  width: 500px;
  height: auto;
}
