h1 {
  color: red;
  text-align: center;
}

.index,
.pizza,
.butter-chicken {
  text-align: center;
  font-size: large;
}

.description-title,
.ingredients,
.directions,
.layer,
.cook,
.serve {
  color: red;
}

.description-para {
  color: white;
}

span {
  color: white;
}

body {
  background-color: black;
}
